export PATH=$PWD/.direnv:$PATH
. .direnv/.env

export EARTHLY_BUILDKIT_HOST=$FORMANCE_DEV_BUILDKITD_ADDRESS
# Dev config
export EARTHLY_SECRETS="SPEAKEASY_API_KEY=$SPEAKEASY_API_KEY"
export EARTHLY_SECRETS="$EARTHLY_SECRETS,GITHUB_TOKEN=$GITHUB_TOKEN"
export EARTHLY_SECRETS="$EARTHLY_SECRETS,GORELEASER_KEY=$GORELEASER_KEY"
export EARTHLY_SECRETS="$EARTHLY_SECRETS,FURY_TOKEN=toto"

# vCluster Config
export EARTHLY_SECRETS="$EARTHLY_SECRETS,KUBE_TOKEN=$FORMANCE_DEV_KUBE_TOKEN"
export EARTHLY_SECRETS="$EARTHLY_SECRETS,KUBE_APISERVER=$FORMANCE_DEV_KUBE_API_SERVER_ADDRESS"
export EARTHLY_SECRETS="$EARTHLY_SECRETS,tld=$FORMANCE_DEV_TLD"
export EARTHLY_SECRETS="$EARTHLY_SECRETS,user=$FORMANCE_DEV_USER"
export EARTHLY_SECRETS="$EARTHLY_SECRETS,awsKeyID=$FORMANCE_AWS_KEY_ID,awsSecretKey=$FORMANCE_AWS_SECRET_KEY"

export EARTHLY_BUILD_ARGS="REPOSITORY=$FORMANCE_DEV_GHCR_REGISTRY"
export EARTHLY_BUILD_ARGS="$EARTHLY_BUILD_ARGS,GOPROXY=$FORMANCE_DEV_GOPROXY"
