# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"
export PATH=$PWD/.direnv:$PATH

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details
