export PATH=$PWD/.direnv:$PATH
. .direnv/.env
export EARTHLY_SECRETS="SPEAKEASY_API_KEY=$SPEAKEASY_API_KEY,GITHUB_TOKEN=$GITHUB_TOKEN,GORELEASER_KEY=$GORELEASER_KEY,SEGMENT_WRITE_KEY=toto,FURY_TOKEN=toto"
export EARTHLY_BUILD_ARGS="REPOSITORY=$DOCKER_REGISTRY,KUBE_TOKEN=$KUBE_TOKEN,KUBE_APISERVER=$KUBE_APISERVER,tld=$DOMAINE_NAME,user=$USER"