fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient|components/agent/chart|components/operator/helm
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: components/operator/internal/controllers/stack/testdata
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
  - id: fix-byte-order-marker
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: detect-aws-credentials
  - id: detect-private-key
    exclude: components/operator/garden|components/auth/cmd/serve.go
- repo: local
  hooks:
  - id: moon
    name: moon
    entry: moon run :lint :test :mod :helm --affected --status=staged
    language: system
    description: "Runs `moon`"
    require_serial: true
    pass_filenames: false
