---
version: '3.8'

services:
  jaeger:
    image: jaegertracing/opentelemetry-all-in-one
    ports:
    - '16686:16686/tcp'

  dex:
    image: ghcr.io/dexidp/dex:latest-distroless
    volumes:
      - ./dex-config.yaml:/etc/dex/config.docker.yaml
    network_mode: service:auth

  postgres:
    image: postgres:alpine
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U auth']
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - '5432:5432/tcp'
    environment:
      POSTGRES_USER: 'auth'
      POSTGRES_PASSWORD: 'auth'
      POSTGRES_DB: 'auth'

  auth:
    build:
      context: .
      dockerfile: reflex.Dockerfile
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/_healthcheck"]
      interval: 1s
    entrypoint:
    - reflex
    - -r
    - \.go$$
    - -s
    - go
    - run
    - main.go
    - serve
    environment:
      DEBUG: 1
      CONFIG: ./config.yaml
      POSTGRES_URI: "host=postgres user=auth password=auth dbname=auth port=5432 sslmode=disable"
      CAOS_OIDC_DEV: 1
      OTEL_TRACES: true
      OTEL_TRACES_EXPORTER: jaeger
      OTEL_TRACES_EXPORTER_JAEGER_ENDPOINT: http://jaeger:14268/api/traces
      DELEGATED_CLIENT_ID: gateway
      DELEGATED_CLIENT_SECRET: ZXhhbXBsZS1hcHAtc2VjcmV0
      DELEGATED_ISSUER: http://localhost:5556/dex
      BASE_URL: http://127.0.0.1:8080
      SIGNING_KEY: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEpQIBAAKCAQEAth3atoCXldJgHH9EWnZQMvw5O+vVNKMcvrllEGQsLxvIA5xy
        YPnFt2xU7k1dcN5ViBqPiigVHZNeyyHcdVclg26zqjEwYUqH+OPiRFeBn0SwOG+d
        ZLpOIJdKt7OjmUG0xN9egq81dbPVPBPckuWqB9XMWmM+dtqydBX4lekj+Q1hFn5E
        WXXuAs9aLIc8DzPz8B+oqwLKZ6k6kC5vpj+EaBt8ExVywrWftkWewGWRO7fLw0Fj
        7hamaA1ZTYEqCN+MLDLEd6qmtC2cdgVhZM0RG2OnTiq5lGzNFmLXGOsquc35HSQj
        OQqcLL+e/72K3giJ1YCqYWAIIJcc/kNKU8HtpwIDAQABAoIBAFY+dSEQbLjq09Er
        A/fDJ9+9Sm1yFZnD1Q0NRysoBTSZ93KeWBxMrLFcgCwKP0IASIkX6voGWVmUPMP9
        2SVIi99eQX9LpBmu7g2T/cdXmW8PXFSdpu/Yur78ZsnwLH2bfDvvfBZvWuXOsCCv
        VznJwWfMe+YiMaafkvsenIaBziNWwUeVGHCWl5f++KGGbWFZjhkRZyjKWfMYflig
        EG5e+WaXagCjTah5pUkmvLj3jmB1iGA/Askm8S5QyTt6Z+SIEk+i5T3qCiLFNvzp
        7OeSyfbmWWzBYTiSvEoHhaHfdeicUyOpRthc33bb7LnfIWDG3Z+WE0o6U1nR8o7U
        t5dsj2ECgYEA7SEuBpd/3wdNVLQSI/RHKKO3sdlymh7yRFf7OAn/UxnSJbSNx4y4
        GAEdJD9KwSQlyekLITF+xc0IuyFHOmvuzp1+/LxK/QTY4dcdlwl/r1kmwBbTeR0e
        yl9RtulHXmP+Ss/PZgwR081Lk7zlRkh1busyAOmCE4mJW/IvNBze0dsCgYEAxJvy
        PcbaLVk497U9cUGznsSbbsyq7JGLkBgTu3eQ/yRgoE7pvagF7dV1gQGuCYjOaYml
        U4d95FLPoiE+CE0g2uyouFEsD1UhggTADP33BidUKUcF1ub9VVNcWs4I5LeWPY/X
        5vcpOCAkmRZWT5rieAECdIsfRTnePVyn2L7amyUCgYEAqsZAfWLSJm791Eiy383n
        CW+OtbjiffhXhbzPIbaheNmZrKnxiYrgcfkrYZVrYtmDlXwOFeOtZwqYhRwcTgi5
        PXfTonSAlOPOxibEGqgumrvb2m8V8Z11NU2cbdxnF6Vv17T9qoJ6vEyXZ1iczhcU
        68LaiimhEiz1DZDHSgKYvg0CgYEAjVZyQXjXVWxjqKdQ4T9TKhq6hl95rJFA3DiC
        zuy4fsKe9/9ixyWoBX7DdxdHDrGbeYErKa4okV/6xdnR51PS/67L55zq6KbRbM+P
        ZIeZ8oGJXhchmoj5q0I/DUQ6Xnmf9ueWVQJvTlrFFIxbReTZU12ebzuoIjLkkgYu
        34DsVEUCgYEAtHm/aO7/2UJT40PMO+VDvBCEixPtt6j72fLaW8btgVRAnhp9qaWX
        Cv6TRZPe2y6Bbgg4Q3FuF0DMqx6ongFKQAWo3DkqNFCGRgjJMQ9JbcfOnGySq4U+
        EL/wy5C80pa3jahniqVgO5L6zz0ZLtRIRE7aCtCIu826gctJ1+ShIso=
        -----END RSA PRIVATE KEY-----
    depends_on:
    - postgres
    - jaeger
    volumes:
    - .:/src
    working_dir: /src
    ports:
    - '5556:5556/tcp'
    - '8080:8080/tcp'

  frontend:
    image: node:alpine
    ports:
      - '3000:3000/tcp'
    volumes:
      - ./demo:/src
    working_dir: /src
    entrypoint:
      - npm
      - start
