---
version: '3.9'
volumes:
  postgres_data:
  opensearch_data:
services:
  jaeger:
    platform: linux/x86_64
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "14268:14268"
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
      LOG_LEVEL: "debug"

  all-in-one:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      opensearch:
        condition: service_healthy
    volumes:
      - ./.local:/etc/formance
      - ./components/search/benthos:/benthos
      - ./components/auth/pkg/web:/app/web
    ports:
      - "80:80"
      - "9090:9090"

  nats:
    image: nats:2.10.2-alpine
    ports:
      - "4222:4222"
      - "6222:6222"
      - "8222:8222"
    command: --js

  temporalite:
    container_name: temporalite
    build:
      dockerfile: tests/integration/temporalite.Dockerfile
      context: .
    ports:
    - 7233:7233
    - 8233:8233
    stdin_open: true
    tty: true

  postgres:
    platform: linux/x86_64
    image: "postgres:13-alpine"
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ledger" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "formance"
      POSTGRES_PASSWORD: "formance"
      POSTGRES_MULTIPLE_DATABASES: "auth,ledger,webhooks,payments,orchestration"
      PGDATA: "/data/postgres"
    volumes:
      - postgres_data:/data/postgres
      - ./.local/postgres:/docker-entrypoint-initdb.d

  opensearch:
    platform: linux/x86_64
    image: "opensearchproject/opensearch:2.10.0"
    restart: always
    environment:
      discovery.type: single-node
      plugins.security.disabled: "true"
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
    healthcheck:
      test: curl -s -f -k http://opensearch:9200/_cat/health >/dev/null || exit 1
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - opensearch_data:/usr/share/opensearch/data

  opensearch-dashboards:
    platform: linux/x86_64
    image: "opensearchproject/opensearch-dashboards:2.10.0"
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch:9200"]' # must be a string with no spaces when specified as an environment variable
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"
    depends_on:
      opensearch:
        condition: service_healthy
    ports:
      - "5601:5601"
