go 1.19

use (
	.
	./libs/go-libs
	./libs/go-project-template
	./sdks/go
	./services/auth
	./services/fctl
	./services/fctl/membershipclient
	./services/ledger
	./services/machine
	./services/orchestration
	./services/payments
	./services/payments/client
	./services/search
	./services/wallets
	./services/webhooks
)
