operator:
  enabled: true
  fullnameOverride: "operator"
  nameOverride: "operator"
  image:
    repository: "ghcr.io/formancehq/operator"
    tag: "v0.22.2"
  operator:
    disableWebhooks: false
    region: "private"
    env: "private"
    metricsAddr: ":8080"
    probeAddr: ":8081"
    enableLeaderElection: true
agent:
  enabled: true
  image:
    tag: v0.6.0
  server:
    address: "app.formance.cloud:443"
    tls:
      enabled: true
      insecureSkipVerify: true
  agent:
    id: "aws-eu-west-1-sandbox"
    baseUrl: https://sandbox.formance.cloud
    authentication:
        mode: bearer
        issuer: https://app.formance.cloud/api
        clientID: "REGION_ID"
        clientSecret: ""


# External Services
nats:
  fullnameOverride: nats
  config:
    cluster:
      enabled: true
      replicas: 3
    jetstream:
      enabled: true
      fileStore:
        enabled: true
        dir: /data
        pvc:
          enabled: false
          size: 20Gi

postgresql:
  fullnameOverride: postgresql
  architecture: standalone
  global:
    postgresql:
      auth:
        username: formance
        password: formance
        database: formance
        postgresPassword: formance
  primary:
    persistence:
      enabled: false

opensearch:
  fullnameOverride: opensearch
  security:
    enabled: false
  master:
    persistence:
      enabled: false
    replicaCount: 1
  data:
    replicaCount: 0
  coordinating:
    replicaCount: 0
  ingest:
    enabled: false
    replicaCount: 0
