{{ if and .Values.versions.create (.Capabilities.APIVersions.Has "formance.com/v1beta1/Versions") }}
apiVersion: formance.com/v1beta1
kind: Versions
metadata:
  name: v1.0
spec:
  orchestration: v0.2.1
  reconciliation: v0.1.0
  search: v0.10.0
  auth: v0.4.4
  wallets: v0.4.6
  webhooks: v2.0.0-rc.13
  payments: v1.0.0-rc.5
  stargate: v0.1.10
  gateway: v2.0.0-rc.13
  ledger: v1.10.14
{{ end }}
