{{ if .Capabilities.APIVersions.Has "stack.formance.com/v1beta3/Versions" }}
apiVersion: stack.formance.com/v1beta3
kind: Versions
metadata:
  name: v2.0
spec:
  ledger: v2.0.0-rc.2
  search: v2.0.0-rc.2
  stargate: v2.0.0-rc.2
  auth: v0.4.4 #v2.0.0-rc.2
  wallets: v2.0.0-rc.2
  webhooks: v2.0.0-rc.2
  gateway: v2.0.0-rc.2
  payments: v2.0.0-rc.2
  orchestration: v2.0.0-rc.2
  reconciliation: v2.0.0-rc.2
{{ end }}
