@font-face {
	font-family: 'Object Sans';
	src: url('../../static/fonts/Object-Sans/PPObjectSans-Variable.woff2');
}

@font-face {
	font-family: 'Machina';
	src: url('../../static/fonts/Machina/PPNeueMachina-PlainVariable.woff2');
}
