apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "operator.fullname" . }}
  labels:
    {{- include "operator.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "operator.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: controller-manager
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /usr/bin/operator
          args:
            {{- with .Values.operator.metricsAddr }}
            - --metrics-bind-address={{ $.Values.operator.metricsAddr }}
            {{- end }}
            {{- with .Values.operator.probeAddr }}
            - --health-probe-bind-address={{ $.Values.operator.probeAddr }}
            {{- end }}
            {{- with .Values.operator.enableLeaderElection }}
            - --leader-elect
            {{- end }}
            {{- with .Values.operator.env }}
            - --env={{ $.Values.operator.env }}
            {{- end }}
            {{- with .Values.operator.region }}
            - --region={{ $.Values.operator.region }}
            {{- end }}
            {{- if .Values.operator.disableWebhooks }}
            - --disable-webhooks
            {{- end }}
          ports:
            - name: probe
              containerPort: "{{ regexReplaceAll ":" .Values.operator.probeAddr "" | default "8081" }}"
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: "{{ regexReplaceAll ":" .Values.operator.probeAddr "" | default "8081" }}"
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: "{{ regexReplaceAll ":" .Values.operator.probeAddr "" | default "8081" }}"
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
