{{- if .Values.operator.licence.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "operator.fullname" . }}-licence
  namespace: '{{ .Release.Namespace }}'
  labels:
    formance.com/stack: any
stringData:
  token: {{ .Values.operator.licence.token }}
  issuer: {{ .Values.operator.licence.issuer }}
{{- end }}