        <footer class="container-fluid">
            <small><a href="https://formance.com" class="secondary">Formance</a> • <a href="https://github.com/formancehq" class="secondary">Github</a></small>
        </footer>
    </body>
</html>
