apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Chart.Name }}-{{ .Release.Name }}
rules:
- apiGroups:
  - stack.formance.com
  resources:
  - stacks
  verbs: ["get", "watch", "list", "delete", "update", "create"]
