kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
resources:
- manager.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- files:
  - controller_manager_config.yaml
  name: manager-config
