---
apiVersion: stack.formance.com/v1beta3
kind: Configuration
metadata:
  name: stacks
spec:
#  registries:
#    public.ecr.aws:
#      endpoint: 192.168.1.54:32103
  ingress:
    annotations:
      traefik.ingress.kubernetes.io/router.tls: "true"
    tls:
      secretName: public-formance-production-certificate
  light: false
  monitoring:
    traces:
      otlp:
        endpoint: otel-collector-opentelemetry-collector.formance.svc.cluster.local
        insecure: true
        mode: grpc
        port: 4317
        resourceAttributes: "foo=bar"
  temporal:
    address: "local-operator.sihc8.tmprl.cloud:7233"
    namespace: "local-operator.sihc8"
    tls:
      secretName: temporal
  broker:
    nats:
      url: nats.default.svc.cluster.local:4222
  services:
    gateway:
      fallback: {{ .Values.gateway.fallback}}
    control:
      disabled: true
    auth:
      postgres:
        credentialsFromSecret: postgres
        host: postgres-postgresql.formance.svc.cluster.local
        port: 5432
      staticClients:
        - id: foo
          public: true
          secrets:
            - bar
    ledger:
      #deploymentStrategy: single-writer
      debug: true
      postgres:
        credentialsFromSecret: postgres
        host: postgres-postgresql.formance.svc.cluster.local
        port: 5432
        disableSSLMode: true
    payments:
      postgres:
        credentialsFromSecret: postgres
        host: postgres-postgresql.formance.svc.cluster.local
        port: 5432
        disableSSLMode: true
      encryptionKey: ClaptonIsGod
    orchestration:
      postgres:
        credentialsFromSecret: postgres
        host: postgres-postgresql.formance.svc.cluster.local
        port: 5432
        disableSSLMode: true
    search:
      elasticSearch:
        host: elasticsearch-master.formance.svc.cluster.local
        port: 9200
        scheme: http
        basicAuth:
          fromSecret: elasticsearch
    webhooks:
      postgres:
        credentialsFromSecret: postgres
        host: postgres-postgresql.formance.svc.cluster.local
        port: 5432
        disableSSLMode: true
