type: 'tool'
language: 'unknown'
tasks:
  docs:
    command: 'helm-docs --chart-search-root ./../'
    platform: 'system'
    inputs:
      - '**'

  release:
    command: 'task release'
    platform: 'system'
    options:
      runInCI: false
    inputs:
      - '**'