name: "Pull Request Labeler"
on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  Triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: self-hosted
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

  PR:
    name: Check PR Title
    runs-on: self-hosted
    permissions:
      statuses: write
    steps:
      - uses: aslafy-z/conventional-pr-title-action@v3.0.0
        with:
          success-state: Title follows the specification.
          failure-state: Title does not follow the specification.
          context-name: conventional-pr-title
          preset: conventional-changelog-angular@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
