on:
  push:
    branches:
      - main

name: Main
jobs:
  Test:
    uses: numary/gh-workflows/.github/workflows/golang-test.yml@main
    with:
      go_version: 1.18

  Build:
    uses: numary/gh-workflows/.github/workflows/docker-build.yml@main
    needs:
      - Test
    with:
      go_version: 1.18
      service: webhooks
      version: develop
      sha: ${{ github.sha }}
      env: staging
    secrets:
      NUMARY_GITHUB_TOKEN: ${{ secrets.NUMARY_GITHUB_TOKEN }}

  BuildMain:
    uses: numary/gh-workflows/.github/workflows/docker-build.yml@main
    with:
      go_version: 1.18
      service: webhooks
      version: develop
      sha: ${{ github.sha }}
      env: main
    secrets:
      NUMARY_GITHUB_TOKEN: ${{ secrets.NUMARY_GITHUB_TOKEN }}

  Deploy:
    needs:
      - Build
    uses: numary/gh-workflows/.github/workflows/deploy-staging.yml@main
    with:
      service: webhooks
      version: pull-webhooks-${{ github.sha }}
    secrets:
      ARGOCD_TOKEN: ${{ secrets.ARGOCD_STAGING }}