name: Default - PR
on:
  pull_request:
    types: [ assigned, opened, synchronize, reopened ]

jobs:
  PR:
    name: Check PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: aslafy-z/conventional-pr-title-action@v3.0.0
        with:
          success-state: Title follows the specification.
          failure-state: Title does not follow the specification.
          context-name: conventional-pr-title
          preset: conventional-changelog-angular@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#  Find:
#    runs-on: ubuntu-latest
#    outputs:
#      folders: ${{ steps.find.outputs.folders }}
#    steps:
#      - uses: actions/checkout@v3
#      - uses: actions/setup-node@v3
#        with:
#          node-version: 16
#      - run: echo "folders=$(node .github/actions/find-directory/index.js)" >> $GITHUB_OUTPUT
#        id: find
#
#  TestsIntegration:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#        with:
#          fetch-depth: 0
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v2
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#      - uses: actions/setup-go@v3
#        with:
#          go-version-file: ./tests/integration/go.mod
#          cache-dependency-path: ./tests/integration/go.sum
#          cache: true
#      - name: Install Task
#        uses: arduino/setup-task@v1
#        with:
#          repo-token: ${{ secrets.GITHUB_TOKEN }}
#      # TOneverDO: Try to use a fixed Ginkgo version, Ginkgo infer it from the go.mod project (see https://onsi.github.io/ginkgo/#installing-ginkgo)
#      - run: |
#          go install github.com/onsi/ginkgo/v2/ginkgo &&
#          sudo ln -s $(go env GOPATH)/bin/ginkgo /usr/bin/ginkgo
#        working-directory: tests/integration
#      - run: task integration:tests
#        env:
#          STRIPE_API_KEY: ${{ secrets.STRIPE_API_KEY_FOR_TEST }}
#          # TODO: Discover dynamically
#          DOCKER_HOSTNAME: 172.17.0.1
#
#  Docker:
#    runs-on:
#      group: enterprise/runners
#      labels: formance-ubuntu-latest-8-cores
#    strategy:
#      matrix:
#        folder: ${{ fromJson(needs.Find.outputs.folders )}}
#    needs:
#      - Find
#    steps:
#      - uses: actions/checkout@v3
#      - name: Install Task
#        uses: arduino/setup-task@v1
#        with:
#          repo-token: ${{ secrets.GITHUB_TOKEN }}
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v2
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#      - uses: actions/setup-go@v3
#        with:
#          go-version-file: ./components/${{ matrix.folder }}/go.mod
#          cache-dependency-path: ./components/${{ matrix.folder }}/go.sum
#          cache: true
#      - run: go mod vendor
#      - name: Login to GitHub Container Registry
#        uses: docker/login-action@v2
#        with:
#          registry: ghcr.io
#          username: "NumaryBot"
#          password: ${{ secrets.NUMARY_GITHUB_TOKEN }}
#      - name: Build and push
#        uses: docker/build-push-action@v4
#        with:
#          file: ./components/${{ matrix.folder }}/Dockerfile
#          context: .
#          platforms: linux/amd64,linux/arm64
#          push: true
#          tags: ghcr.io/formancehq/${{ matrix.folder }}:${{ github.event.pull_request.head.sha }}
#          build-args: |
#            APP_SHA=${{ github.event.pull_request.head.sha }}
#            VERSION=develop


  Moon:
    runs-on: 'ubuntu-latest'
#    strategy:
#       matrix:
#         index: [0, 1, 2, 3, 4]
    steps:
      - uses: 'actions/checkout@v3'
        with:
          fetch-depth: 0
      - name: Cache Moon
        id: cache-moon
        uses: actions/cache@v3
        with:
          path: .moon/cache
          key: ${{ runner.os }}-moon-cache
      - uses: 'actions/setup-node@v3'
      - uses: 'actions/setup-go@v4'
      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: 'yarn global add @moonrepo/cli'
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser-pro
          version: latest
          install-only: true
      - name: direnv action
        uses: HatsuneMiku3939/direnv-action@v1
      - name: 'install go deps'
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.52.2
#      - name: 'moon run mod'
#        run: 'moon run :mod'
#      - name: 'moon run lint'
#        run: 'moon run :lint'
#      - name: 'moon run test'
#        run: 'moon run :test'
      - run: 'moon ci'
#      - run: 'moon ci --job ${{ matrix.index }} --jobTotal 5'
#        env:
#          MOONBASE_ACCESS_KEY: ${{ secrets.MOONBASE_ACCESS_KEY }}
#          MOONBASE_SECRET_KEY: ${{ secrets.MOONBASE_SECRET_KEY }}
      - uses: 'moonrepo/run-report-action@v1'
        if: success() || failure()
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
