name: Default - Release
on:
  push:
    tags:
      - 'components/*/v*.*.*'

jobs:
  Extract:
    name: Extract
    runs-on: self-hosted
    outputs:
      service: ${{ steps.extract.outputs.service }}
      version: ${{ steps.extract.outputs.version }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Extract service name
        id: extract
        run: echo "service=$(node .github/actions/extract-in-tag/service.js ${{ github.ref_name }})" >> $GITHUB_OUTPUT
      - name: Extract version name
        id: extract2
        run: echo "version=$(node .github/actions/extract-in-tag/version.js ${{ github.ref_name }})" >> $GITHUB_OUTPUT

  Release:
    runs-on: self-hosted
    needs:
      - Extract
    steps:
      - uses: 'actions/checkout@v3'
        with:
          fetch-depth: 0
      - name: Setup Env
        uses: ./.github/actions/env
        with:
          os: ${{ runner.os }}
          token: ${{ secrets.NUMARY_GITHUB_TOKEN }}
      - run: 'devbox run -- moon run ${{ needs.Extract.outputs.service }}:release'
        env:
          GITHUB_TOKEN: ${{ secrets.NUMARY_GITHUB_TOKEN }}
          FURY_TOKEN: ${{ secrets.FURY_TOKEN }}
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          SEGMENT_WRITE_KEY: ${{ secrets.SEGMENT_WRITE_KEY_OSS }}
          SPEAKEASY_API_KEY: ${{ secrets.SPEAKEASY_API_KEY }}
