name: Default - SDKs Release
on:
  push:
    tags:
      - 'sdks/v*.*.*'

jobs:
  Sdk:
    name: 'Publish sdks'
    runs-on: formance-runner
    strategy:
      matrix:
        sdk: [ go, php, python, typescript, java ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Upgrade Release to ${{ github.event.release.tag_name }}
          branch: main
          repository: ./sdks/${{ matrix.sdk }}
          commit_user_name: NumaryBot
          commit_user_email: support@numary.com
